secret_token: '076144121df3a7bcacaea3e59bd6ce13cbae19eb9d0185acfe69ff1da64943c03feb2826da4a9629d36705115c56507294888be34e8db344a2d65b6d490dc3ec'

# https://console.developers.google.com
google_client_id: ''
google_client_secret: ''

# https://github.com/settings/applications
github_client_id: ''
github_client_secret: ''