.icon
%h2 What
.text
  beCamp is a free high-quality participant-driven event, high-quality,
  conference-grade unconference!

.icon
%h2 Who
.text
  You! Software developers, system administrators, devops, designers, business developers
  and anyone interested in technology!

.icon
%h2 When
.text
  September 19-20, 2014

.icon
%h2 Where
.text
  = link_to 'CitySpace', 'http://charlottesvillearts.org/cityspace/'
  on the Downtown Mall in Charlottesville, VA

.icon
%h2 Why
.text
  A conference for you, in your back yard! Meet and join Charlottesville's technology
  community, the inspiration of many grat meetups through the year.

= image_tag 'column.png', class: 'center history'
%h2.history History
%p
  Big bang! beCamp born! Somewhere we have history. Going on 8 years strong.
  Energizer bunny style!