.icon
%h2 What
.text
  beCamp isn't your typical conference. There's no struggling to
  find a topic you might be interested in. And you won't be stuck
  listening to some boring dude drone on forever. That's because
  beCamp is completely attendee-driven, which means that YOU get
  to decide what the presentations will be about. It means that
  YOU get to decide who speaks. If you don't see a topic you like,
  suggest another one. The conference's first item of business is
  to vote on a schedule for presentation topics and speakres. We
  do this by lining up and throwing ideas around. Once the ideas
  have dried up, we vote on what we find most interesting. Meetings
  can have one or more presenters, or be a general sharing time where
  everyone is invited to participate. Oh, and did we mention that
  there's no fee for the conference? Oh yeah, there's also free
  food and beer. So there's no reason for you not to come!

.icon
%h2 Who
.text
  You! Software developers, system administrators, quality assurance, devops,
  designers, business developers and anyone interested in technology!

.icon
%h2 When
.text
  September 19-20, 2014

.icon
%h2 Where
.text
  = link_to 'CitySpace', 'http://charlottesvillearts.org/cityspace/'
  on the Downtown Mall in Charlottesville, VA

.icon
%h2 Why
.text
  A conference for you, in your back yard! Meet and join Charlottesville's technology
  community, the inspiration of many grat meetups through the year.

= image_tag 'column.png', class: 'center history'

%h2.history History
%p
  BeCamp held its first event in June 2007 when organizer Steve Stedman came
  up with the idea of a "summer camp for geeks." The camp is modeled after
  the BarCamp movement, which allows attendees to completely set the event's
  agenda. The inaugural event, which drew technology enthusiasts from across
  the United States, was a success. Interest has remained strong since then,
  with the camp quickly approaching its tenth anniversary.
