.center
  Interesting in helping out with beCamp?

%br
.center
  Questions?

%br
.center
  Want to become a sponsor?

%br
.center.contact
  Contact:
  = mail_to App.contact_email

%br
%br
%br
.center
  - if !user_signed_in?
    Stay up to date on beCamp news!
    .center.actions
      = link_to 'Join Our Mailing List', mailing_list_path, class: 'btn btn-primary btn-lg'