.center
  Interesting in helping out with beCamp?

%br
.center
  Questions?

%br
.center
  Want to become a sponsor?

%br
.center.contact
  Contact:
  = mail_to 'tamara@lightcastletech.com', 'tamara@lightcastletech.com'

%br
%br
%br
.center
  Stay up to date on beCamp news!
.center.actions
  = link_to 'Join Our Mailing List', new_email_path, class: 'btn btn-primary btn-lg'