.center.date
  Join us September 19th & 20th, 2014, at CitySpace on the Downtown Mall in Charlottesville, VA
  %br
  .count
    #{User.attending.count} #{User.attending.count == 1 ? 'person' : 'people'} will be attending!

.center.actions
  - if !user_signed_in?
    = link_to 'Join Our Mailing List', mailing_list_path, class: 'btn btn-primary btn-lg'
    = link_to 'Register', signin_path, class: 'btn btn-primary btn-lg'

.center.overview
  %div See what beCamp is all about!
  %iframe{ width: 600, height: 380, frameborder: 0, src: '//www.youtube.com/embed/fSMCf8RSDA4?feature=oembed' }
