.center.date
  Join us September 19th & 20th, 2014, at CitySpace on the Downtown Mall in Charlottesville, VA

.center.actions
  = link_to 'Join Our Mailing List', new_email_path, class: 'btn btn-primary btn-lg'
  = link_to 'Register', '#', class: 'btn btn-primary btn-lg hidden'

.center.overview
  %div See what beCamp is all about!
  %iframe{ width: 600, height: 380, frameborder: 0, src: '//www.youtube.com/embed/fSMCf8RSDA4?feature=oembed' }
