<div class="center">
  <%= link_to 'Past Schedules', past_schedules_path %>
</div>
<br/>
<div class="center">Friday</div>
<table class="center">
  <tbody>
    <tr>
      <td class="time">3:30 pm - 5:00 pm</td>
      <td class="event">Volunteers arrive to help setup space</td>
    </tr>
    <tr>
      <td>5:00 pm</td>
      <td>Registration</td>
    </tr>
    <tr>
      <td class="time">5:30 pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>6:30 pm</td>
      <td>Intros & Haiku</td>
    </tr>
    <tr>
      <td></td>
      <td>Toast - Sponsor Highlights</td>
    </tr>
    <tr>
      <td></td>
      <td>Topic Proposals</td>
    </tr>
    <tr>
      <td></td>
      <td>Topic Organization & Scheduling for Saturday</td>
    </tr>
    <tr>
      <td></td>
      <td>Document & Publish Saturday Schedule</td>
    </tr>
  </tbody>
</table>
<br/>
<div class="center">Saturday</div>
<table class="center">
  <tbody>
    <tr>
      <td class="time">9:00 am - 10:00 am</td>
      <td colspan="4">Breakfast</td>
    </tr>
    <tr>
      <td></td>
      <td>Room 1</td>
      <td>Room 2</td>
      <td>Room 3</td>
      <td>Room 4</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:40 am</td>
      <td>Better Visualization !science!</td>
      <td>Working With Sales as an Engineer</td>
      <td>Western Albermarle Highschool Robotics</td>
      <td>Psychological Safety</td>
    </tr>
    <tr>
      <td class="time">10:45 am - 11:25 am</td>
      <td>"Things" I've Connected to the Internet</td>
      <td>Tech Recruiting</td>
      <td>Slack Chatbots for Building Community</td>
      <td>Easy Play With Data - Apache Zeppelin</td>
    </tr>
    <tr>
      <td class="time">11:30 am - 12:10 pm</td>
      <td>SAAS Side Projects - How to be Successful</td>
      <td>How Does a Search Engine Even Work?</td>
      <td>FPV Racing - Freestyle Wings Quads</td>
      <td>Options Markets - How They Work</td>
    </tr>
    <tr>
      <td class="time">12:10 pm - 12:30 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:30 pm</td>
      <td colspan="4">Lunch</td>
    </tr>
    <tr>
      <td class="time">1:30 pm - 2:10 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">2:15 pm - 2:55 pm</td>
      <td>Parlor Tricks</td>
      <td>Visualizing Big Geo Data</td>
      <td>#cville</td>
      <td>Cannabis + Tech</td>
    </tr>
    <tr>
      <td class="time">3:00 pm - 3:40 pm</td>
      <td>Machine Learning Round Table</td>
      <td>Docker Cloud & Introduction to Containers</td>
      <td>Let's Get You Writing & Blogging</td>
      <td>Cleaner Code With Enumerables</td>
    </tr>
    <tr>
      <td class="time">3:45 pm - 4:25 pm</td>
      <td>Modern Natural Language Processing</td>
      <td>Docker Container Orchestration - Rancher</td>
      <td>Zabbix Monitoring</td>
      <td>Analog Synthesis</td>
    </tr>
    <tr>
      <td class="time">4:30 pm</td>
      <td colspan="4">Retrospective</td>
    </tr>
  </tbody>
</table>
