.center Friday
%table.center
  %tbody
    %tr
      %td.time 3:30 pm -
      %td.event Setup
    %tr
      %td
      %td Registration
    %tr
      %td.time Afternoon
      %td Science Fair
    %tr
      %td.time 5:00 pm -
      %td Opening
    %tr
      %td
      %td Intros & Haiku
    %tr
      %td
      %td Toast - Sponsor Highlights
    %tr
      %td
      %td Writing Topic Learn / Topic Teach
    %tr
      %td
      %td Topic Organization & Scheduling for Saturday
    %tr
      %td
      %td Document & Publish Saturday Schedule

%br
.center Saturday
%table.center
  %tbody
    %tr
      %td.time 9:00 am - 10:00 am
      %td{ colspan: 4 } Breakfast
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Other Room
    %tr
      %td.time 10:00 am - 10:40 am
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 10:45 am - 11:25 am
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 11:30 am - 12:10 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 12:10 pm - 12:30 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 12:30 pm - 1:30 pm
      %td{ colspan: 4 } Lunch
    %tr
      %td.time 1:30 pm - 2:10 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 2:15 pm - 2:55 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 3:00 pm - 3:40 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 3:45 pm - 4:25 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 4:30 pm
      %td{ colspan: 4 } Retrospective