<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:40 am</td>
      <td>Docker Routing with Apache</td>
      <td>Elastic Search - What? Why?</td>
      <td>Imposter Syndrome (Share)</td>
      <td>Cryptocurrencies, Bitcoin, Etc (Share)</td>
    </tr>
    <tr>
      <td class="time">10:45 am - 11:25 am</td>
      <td>Packet Sniffing</td>
      <td>Charitable Giving (Share)</td>
      <td>How can we open science? (Share)</td>
      <td>Javascript Frameworks (Share)</td>
    </tr>
    <tr>
      <td class="time">11:30 am - 12:10 pm</td>
      <td>Writing Code with my Brother in Law</td>
      <td>Visual Communication - Graphic Grammar</td>
      <td>Diversity in Tech (Share)</td>
      <td>Server & Config Management, AWS Server Builds (Share)</td>
    </tr>
    <tr>
      <td class="time">12:10 pm - 12:30 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:30 pm</td>
      <td colspan="4">Lunch</td>
    </tr>
    <tr>
      <td class="time">1:30 pm - 2:10 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">2:15 pm - 2:55 pm</td>
      <td>Intro to Machine Learning</td>
      <td>Reproducible research using R, RMarkDown</td>
      <td>Code Reviews and how they work at your company (Share)</td>
      <td>Physicial Computing (Share)</td>
    </tr>
    <tr>
      <td class="time">3:00 pm - 3:40 pm</td>
      <td>Breakdance in 45 minutes</td>
      <td>SP@CE Flexspace Incubator</td>
      <td>KISS Functional Programming (Share)</td>
      <td>Maintaining Open Source Software (Share)</td>
    </tr>
    <tr>
      <td class="time">3:45 pm - 4:25 pm</td>
      <td>Getting & Filling Tech Jobs + Salary Negotiation</td>
      <td>How to prevent train derailments with software</td>
      <td>Pizza dough making</td>
      <td>Ego Depletion and other psychology (Share)</td>
    </tr>
    <tr>
      <td class="time">4:30 pm</td>
      <td colspan="4">Retrospective</td>
    </tr>
  </tbody>
</table>
