<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:50 am</td>
      <td>Intro to D3</td>
      <td>Intro to Mobile Dev</td>
      <td>Geek Parenting</td>
      <td>Fully Distributed Teams</td>
    </tr>
    <tr>
      <td class="time">10:50 am - 11:40 am</td>
      <td>Intro Clojure</td>
      <td>Mobile jQuery</td>
      <td>Cameras + Computers</td>
      <td>The Mindful Developer</td>
    </tr>
    <tr>
      <td class="time">11:40 am - 12:30 pm</td>
      <td>Intro Crypto</td>
      <td>Federal Acquisition Basics</td>
      <td>Doing Analytics Right</td>
      <td>Game Development</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:50 pm</td>
      <td colspan="4">Lunch and Lightning talks</td>
    </tr>
    <tr>
      <td class="time">1:50 pm - 2:40 pm</td>
      <td>Docker</td>
      <td></td>
      <td>MAGIC!</td>
      <td>Smitten with Scala <3</td>
    </tr>
    <tr>
      <td class="time">2:40 pm - 3:30 pm</td>
      <td>Data Viz</td>
      <td>Angular JS</td>
      <td>Graylog and Kibana</td>
      <td>Enforcing Development Environments</td>
    </tr>
    <tr>
      <td class="time">3:30 pm - 4:20 pm</td>
      <td>Dashboards that Don't Suck</td>
      <td>Cassandra</td>
      <td>Passionate Software Dev</td>
      <td>Testing is chapping my ___</td>
    </tr>
    <tr>
      <td class="time">4:20 pm</td>
      <td colspan="4">Retrospective</td>
    </tr>
  </tbody>
</table>
