<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:50 am</td>
      <td>Git for newbies/Git workflows</td>
      <td>Drupal/Joomla/Wordpress module/plugin/theme development</td>
      <td>Continuous Integration and Load Testing</td>
      <td>Mobile market in 6-12 months. (iPads, iPhones, Androids and more)</td>
    </tr>
    <tr>
      <td class="time">10:50 am - 11:40 am</td>
      <td>37Signals was wrong, Joel Spolsky was wrong ...</td>
      <td>Google Web toolkit</td>
      <td>The command line & GNU screen (what you are missing)</td>
      <td>Programming Apps for mobile devices</td>
    </tr>
    <tr>
      <td class="time">11:40 am - 12:30 pm</td>
      <td>How to become and independent consultant and Turning code into cash</td>
      <td>Facebook Apps</td>
      <td>jQuery</td>
      <td>Robotics. CNC, fabrication, etc...</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:50 pm</td>
      <td colspan="4">Lunch and Lightning talks</td>
    </tr>
    <tr>
      <td class="time">1:50 pm - 2:40 pm</td>
      <td>The illusion of privacy on the web</td>
      <td>Ruby + MongoDB + MongoMapper + Solr</td>
      <td>Design for Non-designers and Improved use of multimedia on the web</td>
      <td>Coping with software effort estimation</td>
    </tr>
    <tr>
      <td class="time">2:40 pm - 3:30 pm</td>
      <td>The future of rich internet applicaitons</td>
      <td>Fast Databases</td>
      <td>Be a CSS ninja and Cross browser compliant CSS simplified</td>
      <td>Silver Drupal Bullet</td>
    </tr>
    <tr>
      <td class="time">3:30 pm - 4:20 pm</td>
      <td>Practical uses of HTML5/CSS3 today</td>
      <td>Cville Tech future</td>
      <td>SQLAchemy the python ORM. It's not noSQL, but it feels ok</td>
      <td>Grade-School Tech/CS curriculum</td>
    </tr>
    <tr>
      <td class="time">4:20 pm</td>
      <td colspan="4">Wrap-up</td>
    </tr>
  </tbody>
</table>
