%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:00 am - 10:50 am
      %td Unix Command Line & Prod. Tips
      %td MapReduce
      %td Web 3.0
      %td CSS 3 + Unicode
    %tr
      %td.time 10:50 am - 11:40 am
      %td My SQL Performance
      %td iPhone Dev
      %td Marketing a Small Biz Online
      %td Choosing Languages for a Project
    %tr
      %td.time 11:40 am - 12:30 pm
      %td Cloud Computing
      %td JS Design Patterns
      %td Going Out on Your Own
      %td Data Visualization Roundtable
    %tr
      %td.time 12:30 pm - 1:50 pm
      %td{ colspan: 4 } Lunch and Lightning talks
    %tr
      %td.time 1:50 pm - 2:40 pm
      %td Iron Ruby and other Ruby Frameworks
      %td Mega Storage (PB, not TB)
      %td Raising Capital and Selling a Business
      %td Design for the Design Challenged
    %tr
      %td.time 2:40 pm - 3:30 pm
      %td High Availability Linux
      %td Yahoo JS/ JQuery
      %td Facebook/Open Social/Shindig
      %td Fast Search Engine Design
    %tr
      %td.time 3:30 pm - 4:20 pm
      %td Google App Engine
      %td Adobe Air
      %td Lifehacking / Telecommuting
      %td WTF is GIT?
    %tr
      %td.time 4:20 pm
      %td{ colspan: 4 } Wrap-up
