<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:50 am</td>
      <td>User Experience (UX) for Techies</td>
      <td>Intro to Windows 8</td>
      <td>Concurrent Programming</td>
      <td>Coworking "Jellies"</td>
    </tr>
    <tr>
      <td class="time">10:50 am - 11:40 am</td>
      <td>JavaScript - testing & server side</td>
      <td>WebGL</td>
      <td>Idea, or Good Idea?</td>
      <td>Data Mining</td>
    </tr>
    <tr>
      <td class="time">11:40 am - 12:30 pm</td>
      <td>Startups: How-to & why they die.</td>
      <td>JavaScript MVC - Backbone, Ember, Knockout</td>
      <td>Scientific Data / Big Data / Visualization</td>
      <td>Staying fit as a Desk Jockey</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:50 pm</td>
      <td colspan="4">Lunch and Lightning talks</td>
    </tr>
    <tr>
      <td class="time">1:50 pm - 2:40 pm</td>
      <td>Solr / NoSQL / Big Data</td>
      <td>Bleeding Edge Development Environment (e.g. Light Table)</td>
      <td>Responsive Design</td>
      <td>Made in Cville</td>
    </tr>
    <tr>
      <td class="time">2:40 pm - 3:30 pm</td>
      <td>Browser-Based Games</td>
      <td>Getting Media Attention</td>
      <td>Computer-Generated Music</td>
      <td>Agile Software Culture</td>
    </tr>
    <tr>
      <td class="time">3:30 pm - 4:20 pm</td>
      <td>Augmented Reality</td>
      <td>Functional Programming in Clojure (Lisp)</td>
      <td>DevOps - Continuous Integration & Delivery</td>
      <td>Sass / Less / CSS preprocessors</td>
    </tr>
    <tr>
      <td class="time">4:20 pm</td>
      <td colspan="4">Wrap-up</td>
    </tr>
  </tbody>
</table>
