%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:00 am - 10:50 am
      %td Git for newbies/Git workflows
      %td Drupal/Joomla/Wordpress module/plugin/theme development
      %td Continuous Integration and Load Testing
      %td Mobile market in 6-12 months. (iPads, iPhones, Androids and more)
    %tr
      %td.time 10:50 am - 11:40 am
      %td 37Signals was wrong, Joel Spolsky was wrong ...
      %td Google Web toolkit
      %td The command line & GNU screen (what you are missing)
      %td Programming Apps for mobile devices
    %tr
      %td.time 11:40 am - 12:30 pm
      %td How to become and independent consultant and Turning code into cash
      %td Facebook Apps
      %td jQuery
      %td Robotics. CNC, fabrication, etc...
    %tr
      %td.time 12:30 pm - 1:50 pm
      %td{ colspan: 4 } Lunch and Lightning talks
    %tr
      %td.time 1:50 pm - 2:40 pm
      %td The illusion of privacy on the web
      %td Ruby + MongoDB + MongoMapper + Solr
      %td Design for Non-designers and Improved use of multimedia on the web
      %td Coping with software effort estimation
    %tr
      %td.time 2:40 pm - 3:30 pm
      %td The future of rich internet applicaitons
      %td Fast Databases
      %td Be a CSS ninja and Cross browser compliant CSS simplified
      %td Silver Drupal Bullet
    %tr
      %td.time 3:30 pm - 4:20 pm
      %td Practical uses of HTML5/CSS3 today
      %td Cville Tech future
      %td SQLAchemy the python ORM. It's not noSQL, but it feels ok
      %td Grade-School Tech/CS curriculum
    %tr
      %td.time 4:20 pm
      %td{ colspan: 4 } Wrap-up
