%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:00 am - 10:40 am
      %td Docker Routing with Apache
      %td Elastic Search - What? Why?
      %td Imposter Syndrome (Share)
      %td Cryptocurrencies, Bitcoin, Etc (Share)
    %tr
      %td.time 10:45 am - 11:25 am
      %td Packet Sniffing
      %td Charitable Giving (Share)
      %td How can we open science? (Share)
      %td Javascript Frameworks (Share)
    %tr
      %td.time 11:30 am - 12:10 pm
      %td Writing Code with my Brother in Law
      %td Visual Communication - Graphic Grammar
      %td Diversity in Tech (Share)
      %td Server & Config Management, AWS Server Builds (Share)
    %tr
      %td.time 12:10 pm - 12:30 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 12:30 pm - 1:30 pm
      %td{ colspan: 4 } Lunch
    %tr
      %td.time 1:30 pm - 2:10 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 2:15 pm - 2:55 pm
      %td Intro to Machine Learning
      %td Reproducible research using R, RMarkDown
      %td Code Reviews and how they work at your company (Share)
      %td Physicial Computing (Share)
    %tr
      %td.time 3:00 pm - 3:40 pm
      %td Breakdance in 45 minutes
      %td SP@CE Flexspace Incubator
      %td KISS Functional Programming (Share)
      %td Maintaining Open Source Software (Share)
    %tr
      %td.time 3:45 pm - 4:25 pm
      %td Getting & Filling Tech Jobs + Salary Negotiation
      %td How to prevent train derailments with software
      %td Pizza dough making
      %td Ego Depletion and other psychology (Share)
    %tr
      %td.time 4:30 pm
      %td{ colspan: 4 } Retrospective
