%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:00 am - 10:50 am
      %td CouchDB
      %td Applying User Interface Design Guidelines to Source Code
      %td Greasemonkey
      %td Entrepreneurship: Challenges and Opportunities
    %tr
      %td.time 10:50 am - 11:40 am
      %td Git, SVN, tracking changes
      %td Web application performance testing, tools and techniques
      %td Android
      %td ROWE/Coworking
    %tr
      %td.time 11:40 am - 12:30 pm
      %td Hardware Hacking
      %td CMS Shootout
      %td Erlang
      %td Community/User group building
    %tr
      %td.time 12:30 pm - 1:50 pm
      %td{ colspan: 4 } Lunch and Lightning talks
    %tr
      %td.time 1:50 pm - 2:40 pm
      %td Agile people and methods
      %td Web design for developers
      %td Solr
      %td Are hybrid type systems the future?
    %tr
      %td.time 2:40 pm - 3:30 pm
      %td Javascript, jQuery
      %td Unix CLI productivity tips
      %td Ajax Push. XMPP/Webapps
      %td Managing open-source projects
    %tr
      %td.time 3:30 pm - 4:20 pm
      %td Acceptance testing, TDD
      %td CSS ninjas
      %td Translating Swing to Clojure, JRuby
      %td Monitoring, trending, planning servers/services
    %tr
      %td.time 4:20 pm
      %td{ colspan: 4 } Wrap-up
