<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:50 am</td>
      <td>Behavior Driven Development</td>
      <td>Lucene / Solr</td>
      <td>Native vs Web Apps</td>
      <td>Drupal</td>
    </tr>
    <tr>
      <td class="time">10:50 am - 11:40 am</td>
      <td>Intro to Chef</td>
      <td>Google Web Toolkit</td>
      <td>Multicore Programming</td>
      <td>WordPress</td>
    </tr>
    <tr>
      <td class="time">11:40 am - 12:30 pm</td>
      <td>RESTful APIs / Mobile APIs</td>
      <td>Process Info</td>
      <td>Graph Databases</td>
      <td>Future of MVC</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:50 pm</td>
      <td colspan="4">Lunch and Lightning talks</td>
    </tr>
    <tr>
      <td class="time">1:50 pm - 2:40 pm</td>
      <td>Intro to Git</td>
      <td>Hacking Android</td>
      <td>CLI/screen/tmux</td>
      <td>Ipad Business Uses</td>
    </tr>
    <tr>
      <td class="time">2:40 pm - 3:30 pm</td>
      <td>Node.js</td>
      <td>mod_pagespeed</td>
      <td>Continous Integration</td>
      <td></td>
    </tr>
    <tr>
      <td class="time">3:30 pm - 4:20 pm</td>
      <td>Stat Mistakes</td>
      <td>HTML5/CSS3</td>
      <td>Systems Monitoring</td>
      <td>Beautiful Code/Theory of Programming</td>
    </tr>
    <tr>
      <td class="time">4:20 pm</td>
      <td colspan="4">Wrap-up</td>
    </tr>
  </tbody>
</table>
