.center
  =link_to 'Past Schedules', past_schedules_path
%br

.center Friday
%table.center
  %tbody
    %tr
      %td.time 3:30 pm - 5:00 pm
      %td.event Volunteers arrive to help setup space
    %tr
      %td 5:00 pm
      %td Registration
    %tr
      %td.time 5:30 pm
      %td Dinner
    %tr
      %td 6:30 pm
      %td Intros & Haiku
    %tr
      %td
      %td Toast - Sponsor Highlights
    %tr
      %td
      %td Topic Proposals
    %tr
      %td
      %td Topic Organization & Scheduling for Saturday
    %tr
      %td
      %td Document & Publish Saturday Schedule

%br
.center Saturday
%table.center
  %tbody
    %tr
      %td.time 9:00 am - 10:00 am
      %td{ colspan: 4 } Breakfast
    %tr
      %td
      %td Room 1
      %td Room 2
      %td Room 3
      %td Room 4
    %tr
      %td.time 10:00 am - 10:40 am
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 10:45 am - 11:25 am
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 11:30 am - 12:10 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 12:10 pm - 12:30 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 12:30 pm - 1:30 pm
      %td{ colspan: 4 } Lunch
    %tr
      %td.time 1:30 pm - 2:10 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 2:15 pm - 2:55 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 3:00 pm - 3:40 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 3:45 pm - 4:25 pm
      %td TBD
      %td TBD
      %td TBD
      %td TBD
    %tr
      %td.time 4:30 pm
      %td{ colspan: 4 } Retrospective
