<table class="center">
  <tbody>
    <tr>
      <td class="time">9:00 am - 10:00 am</td>
      <td colspan="4">Breakfast</td>
    </tr>
    <tr>
      <td></td>
      <td>Big Conference Room (Projector)</td>
      <td>Courtyard</td>
      <td>Small Conference Room (Projector)</td>
      <td>Center Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:40 am</td>
      <td>Testing Methodologies</td>
      <td>Sharing "entrepreneurial" failure stories</td>
      <td>The state of tech in political campaigning</td>
      <td>Sailing + Dev? Yes please!</td>
    </tr>
    <tr>
      <td class="time">10:45 am - 11:25 am</td>
      <td>Getting started with ReactJS</td>
      <td>Identity, naming and gender in programming</td>
      <td>Virtual Reality</td>
      <td>CTO Panel</td>
    </tr>
    <tr>
      <td class="time">11:30 am - 12:10 pm</td>
      <td>Command Line Trix</td>
      <td>How do we deploy</td>
      <td>On Charlottesville's innovation ecosystem</td>
      <td>Wearables that don't suck and aren't ugly - how?</td>
    </tr>
    <tr>
      <td class="time">12:10 pm - 12:30 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:30 pm</td>
      <td colspan="4">Lunch</td>
    </tr>
    <tr>
      <td class="time">1:30 pm - 2:10 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">2:15 pm - 2:55 pm</td>
      <td>How to build every day innovation culture in Charlottesville?</td>
      <td>Internet of things and regulated industries</td>
      <td>Scaling python to 3,000 cores</td>
      <td>How to be a freelancer? locally</td>
    </tr>
    <tr>
      <td class="time">3:00 pm - 3:40 pm</td>
      <td>Distributed Consensus</td>
      <td>Go (Board-game)</td>
      <td>Functional Programming in Ruby</td>
      <td>Data Science Round table</td>
    </tr>
    <tr>
      <td class="time">3:45 pm - 4:25 pm</td>
      <td>Containers and Clouds (Docker)</td>
      <td>Surviving the Rewrite: A War Story</td>
      <td>Optimizing code(Go)</td>
      <td>Working effectively across time zones and cultures</td>
    </tr>
    <tr>
      <td class="time">4:30 pm</td>
      <td colspan="4">Retrospective</td>
    </tr>
  </tbody>
</table>
