%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:30 am - 11:20 am
      %td Ruby on Rails
      %td Managing CSS/JS on Large Sites
      %td Indie Game Development
      %td Functional vs. Procedural Languages
    %tr
      %td.time 11:30 am - 12:20 pm
      %td Amazon Web Svcs., Facebook Platform, REST/APIs
      %td How We Understand What to Build
      %td JS Library Smackdown
      %td Subversion Release Mgmt
    %tr
      %td.time 12:30 pm - 1:50 pm
      %td{ colspan: 4 } Lunch and Lightning talks
    %tr
      %td.time 2:00 pm - 2:50 pm
      %td cont.
      %td Animation
      %td Flex/Action Script
      %td Reputation on the Net
    %tr
      %td.time 3:00 pm - 3:50 pm
      %td Scaling Rails
      %td Web Standards/Accessibility
      %td SMS Gateways
      %td Agile Methods.
    %tr
      %td.time 4:00 pm - 4:50 pm
      %td JRuby
      %td How to Screen Scrape
      %td Google Maps/Earth API
      %td CSS Ninja
    %tr
      %td.time 5:00 pm - 5:50 pm
      %td Building Online Community
      %td Grails
      %td Web Design for the Design Challenged
      %td What's after Ajax
    %tr
      %td.time 6:00 pm
      %td{ colspan: 4 } Wrap-up
