.center
  =link_to 'Past Schedules', past_schedules_path
%br

.center Friday
%table.center
  %tbody
    %tr
      %td.time 3:30 pm - 5:00 pm
      %td.event Volunteers arrive to help setup space
    %tr
      %td 5:00 pm
      %td Registration
    %tr
      %td.time 5:30 pm
      %td Dinner
    %tr
      %td 6:30 pm
      %td Intros & Haiku
    %tr
      %td
      %td Toast - Sponsor Highlights
    %tr
      %td
      %td Topic Proposals
    %tr
      %td
      %td Topic Organization & Scheduling for Saturday
    %tr
      %td
      %td Document & Publish Saturday Schedule

%br
.center Saturday
%table.center
  %tbody
    %tr
      %td.time 9:00 am - 10:00 am
      %td{ colspan: 4 } Breakfast
    %tr
      %td
      %td Big Conference Room (Projector)
      %td Courtyard
      %td Small Conference Room (Projector)
      %td Center Room
    %tr
      %td.time 10:00 am - 10:40 am
      %td Testing Methodologies
      %td Sharing "entrepreneurial" failure stories
      %td The state of tech in political campaigning
      %td Sailing + Dev? Yes please!
    %tr
      %td.time 10:45 am - 11:25 am
      %td Getting started with ReactJS
      %td Identity, naming and gender in programming
      %td Virtual Reality
      %td CTO Panel
    %tr
      %td.time 11:30 am - 12:10 pm
      %td Command Line Trix
      %td How do we deploy
      %td On Charlottesville's innovation ecosystem
      %td Wearables that don't suck and aren't ugly - how?
    %tr
      %td.time 12:10 pm - 12:30 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 12:30 pm - 1:30 pm
      %td{ colspan: 4 } Lunch
    %tr
      %td.time 1:30 pm - 2:10 pm
      %td{ colspan: 4 } Lightning talks
    %tr
      %td.time 2:15 pm - 2:55 pm
      %td How to build every day innovation culture in Charlottesville?
      %td Internet of things and regulated industries
      %td Scaling python to 3,000 cores
      %td How to be a freelancer? locally
    %tr
      %td.time 3:00 pm - 3:40 pm
      %td Distributed Consensus
      %td Go (Board-game)
      %td Functional Programming in Ruby
      %td Data Science Round table
    %tr
      %td.time 3:45 pm - 4:25 pm
      %td Containers and Clouds (Docker)
      %td Surviving the Rewrite: A War Story
      %td Optimizing code(Go)
      %td Working effectively across time zones and cultures
    %tr
      %td.time 4:30 pm
      %td{ colspan: 4 } Retrospective
