<div class="center">
  <%= link_to 'Past Schedules', past_schedules_path %>
</div>
<br/>
<div class="center">Friday</div>
<table class="center">
  <tbody>
    <tr>
      <td class="time">3:30 pm - 5:00 pm</td>
      <td class="event">Volunteers arrive to help setup space</td>
    </tr>
    <tr>
      <td>5:00 pm</td>
      <td>Registration</td>
    </tr>
    <tr>
      <td class="time">5:30 pm</td>
      <td>Dinner</td>
    </tr>
    <tr>
      <td>6:30 pm</td>
      <td>Intros & Haiku</td>
    </tr>
    <tr>
      <td></td>
      <td>Toast - Sponsor Highlights</td>
    </tr>
    <tr>
      <td></td>
      <td>Topic Proposals</td>
    </tr>
    <tr>
      <td></td>
      <td>Topic Organization & Scheduling for Saturday</td>
    </tr>
    <tr>
      <td></td>
      <td>Document & Publish Saturday Schedule</td>
    </tr>
  </tbody>
</table>
<br/>
<div class="center">Saturday</div>
<table class="center">
  <tbody>
    <tr>
      <td class="time">9:00 am - 10:00 am</td>
      <td colspan="4">Breakfast</td>
    </tr>
    <tr>
      <td></td>
      <td>Conf room 1</td>
      <td>Conf room 2</td>
      <td>Conf room 3</td>
      <td>Big Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:40 am</td>
      <td>P: The Kelly Criteria (Noah Healy)</td>
      <td>L: Product Management & How It’s Done</td>
      <td>P: The Rainbow of Death (Mike Bland)</td>
      <td>P: Application of Machine Learning to Financial Markets (Sunit Shah)</td>
    </tr>
    <tr>
      <td class="time">10:45 am - 11:25 am</td>
      <td>P: How to Retire @30, 40, 47... (Jaime)</td>
      <td>P/S: Writing effective tech blog entries for/at work</td>
      <td>P/S: Mindfulness in Tech & Innovation (Jessica G)</td>
      <td>P: Open source home automation (Ellis)</td>
    </tr>
    <tr>
      <td class="time">11:30 am - 12:10 pm</td>
      <td>S: Conflict Resolution</td>
      <td>S: Positive Net ‘+” Cville Recruitment</td>
      <td>S: Help Todd Gerdy Know What He Doesn’t Know</td>
      <td>P: Cryptocurrency Crash Course (John Feminella)</td>
    </tr>
    <tr>
      <td class="time">12:10 pm - 12:30 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:30 pm</td>
      <td colspan="4">Lunch</td>
    </tr>
    <tr>
      <td class="time">1:30 pm - 2:10 pm</td>
      <td colspan="4">Lightning talks</td>
    </tr>
    <tr>
      <td class="time">2:15 pm - 2:55 pm</td>
      <td>S: Slack (and Cville Slack)</td>
      <td>P: Docs as organizational hacking tools (Mike Bland)</td>
      <td>S: Future of JavaScript</td>
      <td>S: Connecting Cville Tech Talent with Non-Profits</td>
    </tr>
    <tr>
      <td class="time">3:00 pm - 3:40 pm</td>
      <td>P: Games and Strategy (Noah Healy) </td>
      <td>S: Making Friends</td>
      <td>P/S: How to have a career in tech sales (Mills Horton)</td>
      <td>P: Software Disasters (John Feminella)</td>
    </tr>
    <tr>
      <td class="time">3:45 pm - 4:25 pm</td>
      <td>P: Meetup (Michael Holroyd)</td>
      <td>S: Work/Life Balance w/kids & Avoiding Burnout</td>
      <td>L: Async/Await</td>
      <td>P: Grand Theft Auto for Machine Learning (Tim Emerick)</td>
    </tr>
    <tr>
      <td class="time">4:30 pm</td>
      <td colspan="4">Retrospective</td>
    </tr>
  </tbody>
</table>
