<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:30 am - 11:20 am</td>
      <td>Ruby on Rails</td>
      <td>Managing CSS/JS on Large Sites</td>
      <td>Indie Game Development</td>
      <td>Functional vs. Procedural Languages</td>
    </tr>
    <tr>
      <td class="time">11:30 am - 12:20 pm</td>
      <td>Amazon Web Svcs., Facebook Platform, REST/APIs</td>
      <td>How We Understand What to Build</td>
      <td>JS Library Smackdown</td>
      <td>Subversion Release Mgmt</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:50 pm</td>
      <td colspan="4">Lunch and Lightning talks</td>
    </tr>
    <tr>
      <td class="time">2:00 pm - 2:50 pm</td>
      <td>cont.</td>
      <td>Animation</td>
      <td>Flex/Action Script</td>
      <td>Reputation on the Net</td>
    </tr>
    <tr>
      <td class="time">3:00 pm - 3:50 pm</td>
      <td>Scaling Rails</td>
      <td>Web Standards/Accessibility</td>
      <td>SMS Gateways</td>
      <td>Agile Methods.</td>
    </tr>
    <tr>
      <td class="time">4:00 pm - 4:50 pm</td>
      <td>JRuby</td>
      <td>How to Screen Scrape</td>
      <td>Google Maps/Earth API</td>
      <td>CSS Ninja</td>
    </tr>
    <tr>
      <td class="time">5:00 pm - 5:50 pm</td>
      <td>Building Online Community</td>
      <td>Grails</td>
      <td>Web Design for the Design Challenged</td>
      <td>What's after Ajax</td>
    </tr>
    <tr>
      <td class="time">6:00 pm</td>
      <td colspan="4">Wrap-up</td>
    </tr>
  </tbody>
</table>
