<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:50 am</td>
      <td>CouchDB</td>
      <td>Applying User Interface Design Guidelines to Source Code</td>
      <td>Greasemonkey</td>
      <td>Entrepreneurship: Challenges and Opportunities</td>
    </tr>
    <tr>
      <td class="time">10:50 am - 11:40 am</td>
      <td>Git, SVN, tracking changes</td>
      <td>Web application performance testing, tools and techniques</td>
      <td>Android</td>
      <td>ROWE/Coworking</td>
    </tr>
    <tr>
      <td class="time">11:40 am - 12:30 pm</td>
      <td>Hardware Hacking</td>
      <td>CMS Shootout</td>
      <td>Erlang</td>
      <td>Community/User group building</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:50 pm</td>
      <td colspan="4">Lunch and Lightning talks</td>
    </tr>
    <tr>
      <td class="time">1:50 pm - 2:40 pm</td>
      <td>Agile people and methods</td>
      <td>Web design for developers</td>
      <td>Solr</td>
      <td>Are hybrid type systems the future?</td>
    </tr>
    <tr>
      <td class="time">2:40 pm - 3:30 pm</td>
      <td>Javascript, jQuery</td>
      <td>Unix CLI productivity tips</td>
      <td>Ajax Push. XMPP/Webapps</td>
      <td>Managing open-source projects</td>
    </tr>
    <tr>
      <td class="time">3:30 pm - 4:20 pm</td>
      <td>Acceptance testing, TDD</td>
      <td>CSS ninjas</td>
      <td>Translating Swing to Clojure, JRuby</td>
      <td>Monitoring, trending, planning servers/services</td>
    </tr>
    <tr>
      <td class="time">4:20 pm</td>
      <td colspan="4">Wrap-up</td>
    </tr>
  </tbody>
</table>
