%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:00 am - 10:50 am
      %td Intro to D3
      %td Intro to Mobile Dev
      %td Geek Parenting
      %td Fully Distributed Teams
    %tr
      %td.time 10:50 am - 11:40 am
      %td Intro Clojure
      %td Mobile jQuery
      %td Cameras + Computers
      %td The Mindful Developer
    %tr
      %td.time 11:40 am - 12:30 pm
      %td Intro Crypto
      %td Federal Acquisition Basics
      %td Doing Analytics Right
      %td Game Development
    %tr
      %td.time 12:30 pm - 1:50 pm
      %td{ colspan: 4 } Lunch and Lightning talks
    %tr
      %td.time 1:50 pm - 2:40 pm
      %td Docker
      %td
      %td MAGIC!
      %td Smitten with Scala <3
    %tr
      %td.time 2:40 pm - 3:30 pm
      %td Data Viz
      %td Angular JS
      %td Graylog and Kibana
      %td Enforcing Development Environments
    %tr
      %td.time 3:30 pm - 4:20 pm
      %td Dashboards that Don't Suck
      %td Cassandra
      %td Passionate Software Dev
      %td Testing is chapping my ___
    %tr
      %td.time 4:20 pm
      %td{ colspan: 4 } Retrospective
