%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:00 am - 10:50 am
      %td Behavior Driven Development
      %td Lucene / Solr
      %td Native vs Web Apps
      %td Drupal
    %tr
      %td.time 10:50 am - 11:40 am
      %td Intro to Chef
      %td Google Web Toolkit
      %td Multicore Programming
      %td WordPress
    %tr
      %td.time 11:40 am - 12:30 pm
      %td RESTful APIs / Mobile APIs
      %td Process Info
      %td Graph Databases
      %td Future of MVC
    %tr
      %td.time 12:30 pm - 1:50 pm
      %td{ colspan: 4 } Lunch and Lightning talks
    %tr
      %td.time 1:50 pm - 2:40 pm
      %td Intro to Git
      %td Hacking Android
      %td CLI/screen/tmux
      %td Ipad Business Uses
    %tr
      %td.time 2:40 pm - 3:30 pm
      %td Node.js
      %td mod_pagespeed
      %td Continous Integration
      %td
    %tr
      %td.time 3:30 pm - 4:20 pm
      %td Stat Mistakes
      %td HTML5/CSS3
      %td Systems Monitoring
      %td Beautiful Code/Theory of Programming
    %tr
      %td.time 4:20 pm
      %td{ colspan: 4 } Wrap-up
