%table.center
  %tbody
    %tr
      %td
      %td Big Room
      %td Board Room
      %td Lunch Room
      %td Art Room
    %tr
      %td.time 10:00 am - 10:50 am
      %td User Experience (UX) for Techies
      %td Intro to Windows 8
      %td Concurrent Programming
      %td Coworking "Jellies"
    %tr
      %td.time 10:50 am - 11:40 am
      %td JavaScript - testing & server side
      %td WebGL
      %td Idea, or Good Idea?
      %td Data Mining
    %tr
      %td.time 11:40 am - 12:30 pm
      %td Startups: How-to & why they die.
      %td JavaScript MVC - Backbone, Ember, Knockout
      %td Scientific Data / Big Data / Visualization
      %td Staying fit as a Desk Jockey
    %tr
      %td.time 12:30 pm - 1:50 pm
      %td{ colspan: 4 } Lunch and Lightning talks
    %tr
      %td.time 1:50 pm - 2:40 pm
      %td Solr / NoSQL / Big Data
      %td Bleeding Edge Development Environment (e.g. Light Table)
      %td Responsive Design
      %td Made in Cville
    %tr
      %td.time 2:40 pm - 3:30 pm
      %td Browser-Based Games
      %td Getting Media Attention
      %td Computer-Generated Music
      %td Agile Software Culture
    %tr
      %td.time 3:30 pm - 4:20 pm
      %td Augmented Reality
      %td Functional Programming in Clojure (Lisp)
      %td DevOps - Continuous Integration & Delivery
      %td Sass / Less / CSS preprocessors
    %tr
      %td.time 4:20 pm
      %td{ colspan: 4 } Wrap-up
