<table class="center">
  <tbody>
    <tr>
      <td></td>
      <td>Big Room</td>
      <td>Board Room</td>
      <td>Lunch Room</td>
      <td>Art Room</td>
    </tr>
    <tr>
      <td class="time">10:00 am - 10:50 am</td>
      <td>Unix Command Line & Prod. Tips</td>
      <td>MapReduce</td>
      <td>Web 3.0</td>
      <td>CSS 3 + Unicode</td>
    </tr>
    <tr>
      <td class="time">10:50 am - 11:40 am</td>
      <td>My SQL Performance</td>
      <td>iPhone Dev</td>
      <td>Marketing a Small Biz Online</td>
      <td>Choosing Languages for a Project</td>
    </tr>
    <tr>
      <td class="time">11:40 am - 12:30 pm</td>
      <td>Cloud Computing</td>
      <td>JS Design Patterns</td>
      <td>Going Out on Your Own</td>
      <td>Data Visualization Roundtable</td>
    </tr>
    <tr>
      <td class="time">12:30 pm - 1:50 pm</td>
      <td colspan="4">Lunch and Lightning talks</td>
    </tr>
    <tr>
      <td class="time">1:50 pm - 2:40 pm</td>
      <td>Iron Ruby and other Ruby Frameworks</td>
      <td>Mega Storage (PB, not TB)</td>
      <td>Raising Capital and Selling a Business</td>
      <td>Design for the Design Challenged</td>
    </tr>
    <tr>
      <td class="time">2:40 pm - 3:30 pm</td>
      <td>High Availability Linux</td>
      <td>Yahoo JS/ JQuery</td>
      <td>Facebook/Open Social/Shindig</td>
      <td>Fast Search Engine Design</td>
    </tr>
    <tr>
      <td class="time">3:30 pm - 4:20 pm</td>
      <td>Google App Engine</td>
      <td>Adobe Air</td>
      <td>Lifehacking / Telecommuting</td>
      <td>WTF is GIT?</td>
    </tr>
    <tr>
      <td class="time">4:20 pm</td>
      <td colspan="4">Wrap-up</td>
    </tr>
  </tbody>
</table>
